<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{15} - %message%n%rEx%xException{10} </pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari.pool.HikariPool" level="DEBUG" />
    <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" />
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
